.project-item {
    display: flex;
    flex-direction: column;
}

.project-outline {
    border: 1px solid black;
    border-radius: 4px;
    padding: 12px;
    margin: 12px;
}

.project-item:hover {
    background-color: beige;
}

.delete-button {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    width: 49px;
    height: 49px
}