.project-item {
    border: 1px solid black;
    border-radius: 4px;
    padding: 12px;
    margin: 12px;
    display: flex;
    flex-direction: column;
}

.project-item:hover {
    background-color: beige;
}